html {
  height: 100%;
}

body {
  margin: 0px;
  font-family: 'Inconsolata', monospace;
  font-size: 16px;
  background: #EFEFBB;
  background: -webkit-linear-gradient(to right, #D4D3DD, #EFEFBB);
  background: linear-gradient(to right, #D4D3DD, #EFEFBB);
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.App {
  height: 100%;
  margin: 10px;
  background-color: #eeeeee;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.11);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.11);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.11);
}

.winners {
  width: 100%;
  margin: 6px 0px;
}

.winners > strong {
  padding-left: 12px;
}

.winner-list {
  list-style-type: none;
  margin: 10px;
  padding: 4px;
  height: 400px;
  overflow: scroll;
}

.winner-list::-webkit-scrollbar { 
  display: none; 
}

.red {
  color: #ff4757;
}

.orange {
  color: #ffa502;
}

.green {
  color: #2ed573;
}

.button {
  background-color: rgba(249, 180, 45,1);
  color: white;
  border-radius: 3px;
  border: none;
  padding: 20px;
  font-size: 18px;
}

.button:hover {
  cursor: pointer;
  background-color: rgba(252, 214, 112, 1);
}

.colored {
  color: #74b9ff;
}

.win-alert {
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.alert-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  color: black;
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.alert-button {
  width: 50%;
  padding: 10px;
  font-size: 18px;
  background-color: rgb(46, 204, 113);
  border-radius: 3px;
  color: white;
  border: none;
  margin-top: 6px;
}

.alert-button:hover {
  cursor: pointer;
  background-color: rgb(123, 239, 178);
}

.rules-list {
  list-style-type: none;
  padding: 0px;
}

.game-title {
  text-decoration: underline;
}

.panel {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  justify-items: center;
  text-align: center;
  grid-gap: 5px;
  margin: 20px;
}

@media only screen and (max-width: 600px) {
  .alert-content {
    width: 80%;
  }

  .alert-button {
    width: 100%;
  }
}